@tailwind base;

h1 {
    @apply text-2xl;
}

h2 {
    @apply text-xl;
}

h3 {
    @apply text-lg;
}

a {
    @apply text-blue-600 underline;
}

@tailwind components;

@tailwind utilities;

.color_list {
    list-style: none;
}

    .color_list__item {
        display: block;
    }

.color_button {
    // appearance: none;
    font-size: 2rem;
}

    .color_button__label {
        // width: 100%;
        padding: 1rem;
    }